export MW_ADMIN_NAME=
export MW_ADMIN_PASS=
export MW_ADMIN_EMAIL=
export MW_WG_SECRET_KEY=

export WIKIDATA_PUBLIC_HOST=
export WIKIDATA_PUBLIC_HOST_ID=
export QUERYSVC_PUBLIC_HOST=
export QUERYSVC_PUBLIC_HOST_ID=
export QUICKSTMT_PUBLIC_HOST=
export QUICKSTMT_PUBLIC_HOST_ID=
export LETSENCRYPT_EMAIL=

export BRAND_TITLE=

export MYSQL_ROOT_PASSWORD=

export DOCKER_REPO=

export DB_USER=
export DB_PASS=
export MYSQLPHPADMIN_HOST=
