export MW_ADMIN_PASS=
export MW_ADMIN_EMAIL=
export MW_WG_SECRET_KEY=

export WIKIDATA_PUBLIC_HOST=
export QUERYSVC_PUBLIC_HOST=
export QUICKSTMT_PUBLIC_HOST=
export LETSENCRYPT_EMAIL=

export BRAND_TITLE=


